@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 20px;
    line-height: 1.6;
}

h1 {
    font-weight: 700;
    color: #333;
}

p {
    font-weight: 400;
    color: #666;
}

ul {
    color: #444;
    margin-top: 20px;
}
